<app-layout>
    <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <img src="assets/img/book.png" alt="book" />
    </mat-grid-tile>
        <mat-grid-tile>
    <section class="mat-typography">
            <h1>About <span class="custom-title">Next-Book</span></h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <button mat-raised-button color="primary" routerLink="/about">Try Free!</button>
    </section>
        </mat-grid-tile>
        </mat-grid-list>
</app-layout>

